@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@Umbraco.Field("title")
@Umbraco.Field("subTitle")
@Umbraco.Field("contentTop")
@Umbraco.Field("contentBot")
@Umbraco.Field("ctaTitle")
@Umbraco.Field("actionLink")
@*@{
    var statements = CurrentPage.Site().Children("testimonials");
    var rnd = new Random();
    var firstPick = rnd.Next(statements.Count() + 1);

    var secondPick = 0;

    if (firstPick != statements.Count())
    {
        secondPick = firstPick + 1;
    }

    var statementOne = statements.getIndex(firstPick);
    var statementTwo = statements.getIndex(secondPick);
}
<section></section>
<section>
    <p>@statementOne.statementName</p>
    <p>@statementTwo.statementName</p>
</section>*@
<section></section>

