@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{ var selection = CurrentPage.Children.Where("Visible"); }

@if (selection.Any())
{
    <ul>
        @foreach (var item in selection)
        {
            <li>
                @item.memberName
				@item.email
				@item.adrress
				@item.phoneNr
				@{      
				if (CurrentPage.HasValue("image")){                                         
					var dynamicMediaItem = Umbraco.Media(CurrentPage.image);
					<img src="@dynamicMediaItem.umbracoFile" alt="@dynamicMediaItem.Name"/>
					}
				}
            </li>
        }
    </ul>
}